<form class="post" [formGroup]="postForm">
    <h2>NOUVEAU POST</h2>
    <br>
    <label for="title">Titre : 
    </label>
    <br>
    <input type="text" id="title" formControlName="title">
        <span *ngIf="postForm.get('title')?.invalid 
        && (postForm.get('title')?.dirty || postForm.get('title')?.touched)"
        style="color: red;">
            <br>
            *Ce champ est requis.
        </span>
    <br>
    <label for="description">Description : 
    </label>
    <br>
    <textarea type="text" id="description" formControlName="description"></textarea>
        <span *ngIf="postForm.get('description')?.invalid 
        && (postForm.get('description')?.dirty || postForm.get('description')?.touched)"
        style="color: red;">
            <br>
            *Ce champ est requis.
        </span>
    <br>
    <label for="image">URL de l'image : 
    </label>
    <br>
    <input type="text" id="image" formControlName="imageUrl">
    <!-- <div *ngIf="postForm.get('imageUrl')?.hasError('pattern') && 
    postForm.get('imageUrl')?.hasError('required')"> -->
        <span *ngIf="postForm.get('imageUrl')?.hasError('required')
        && (postForm.get('imageUrl')?.dirty || postForm.get('imageUrl')?.touched)"
        style="color: red;">
        <br>
        *Ce champ est requis.
        </span>
        <span
        *ngIf="postForm.get('imageUrl')?.hasError('pattern')"
        style="color: red;">
        <br>
        *Le lien n'est pas correct.
        </span>
    <br>
    <label for="localisation">Localisation : 
    </label>
    <br>
    <input type="text" id="localisation" formControlName="location">
    <br>
    <br>
    <button type="submit" (click)="onSubmitPostForm()" [disabled]="postForm.invalid">Poster</button> 

</form>

<div class="post" *ngIf="postPreview$ | async as post">
    <h2> {{ post.title | uppercase }} </h2>
    <p> Publication postée le {{ post.date | date: 'dd/MM/yyyy à HH:mm' }} 
        | 🤙 : {{ post.like }} </p>
    <p *ngIf="post.location"> Localisation : {{ post.location }} </p>
    <img [src]="post.imageUrl" [title]="post.title">
    <p> {{ post.description }} </p>
</div>
